
#Ctitulo{
    font-family: 'Cambo', serif;
    background-color: rgb(5, 3, 143);  
    padding:0.5rem;
    color:white !important;    
}
#titulo{    
    font-family: 'Cambo', serif;
    font-size:2.2rem   
}
.fa-bars{   
  
    font-size: 2rem;  
 }
 button.navbar-toggler.collapsed{
     background-color:white !important
 }

 a.dropdown-toggle.nav-link{
     color:white !important
 }
.fa-bars:hover{
    cursor: pointer;
}

#titulo:hover{
    text-decoration: underline;
}

.noticiaP{
    margin-top:2rem;    
}
.noticiaD{
    margin-top:2rem;
    border-left:1px solid rgb(68, 68, 68);
    padding-left:2rem
}
#noticiaP:hover{
    box-shadow: 2px 2px 2px  black;
}
.seccion{
    background-color: yellow;
}

#noticia{
    border-right: 1px solid rgb(68, 68, 68);
}

.por{
    font-size: 0.8rem;
    font-style: italic;
}
a:hover{
text-decoration: none;   

}
a{
    color:white
}

#contenedorMasNoticias{
    margin-top:2rem;
    border-top:1px solid rgb(68, 68, 68);
}

.masNoticia{
    padding: 1rem;   
}

.masNoticia:hover img{
    filter: brightness(130%);
     box-shadow: 2px 2px 5px  black;
}

.masL{
    margin-top:2rem;
    border-left:1px solid rgb(68, 68, 68);
    padding-left: 1rem;
}
.menu{
    position:relative;
    top:10rem;
    left:5rem;
    background-color: rgb(5, 3, 143);
}
.categoria:hover{
box-shadow: 0.2rem 0.2rem 0.5rem rgb(68, 68, 68);
}
.categoria{
    padding-top:0.5rem
}
.tituloSeccion{
    margin-left:1.7rem;
    background-color: yellow;
    
}
.masN:hover{
    font-weight: bold;
}
.comentario{
    font-size:0.95rem
}
.fa-user{
    color:rgb(5, 3, 143)
}
.email{
    font-weight: bold;
}
.body{
    font-style: italic;
}
.botonForm{
    background-color:rgb(5, 3, 143);
    border:none;
    font-size:0.9rem;
    margin-bottom: 1rem;
}
.botonForm:hover{
    background-color: blue !important;  

}